version: '3'
services:
  app:
    build: .
    ports: 
      - 8080:8080 
    environment:
      - POSTGRES_USER=fontman  
      - POSTGRES_PASSWORD=fontman
      - POSTGRES_DB=dev
      - PORT=8080
    restart: on-failure
    depends_on:
      - database 

  database: 
    image: postgres:latest
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
      - POSTGRES_USER=fontman  
      - POSTGRES_PASSWORD=fontman
      - POSTGRES_DB=dev
    ports:
      - '5432:5432'
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
